#mini-events{font-family:'Raleway',sans-serif}
#mini-events .calendar-wrap{display:flex;justify-content:space-between;margin-top:24px}
#mini-events .fc-scroller.fc-day-grid-container{height:100%!important;padding:0 16px}
#mini-events .fc-unthemed td.fc-today{background: #F2F2F2;border-radius: 10px;}
#mini-events .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number{float:none;font-size:14px;font-weight:700;color:#123d55}
#mini-events .fc-day-top.fc-other-month{opacity:1}
#mini-events .fc-day-top.fc-other-month a{color:#CCC !important}
#mini-events .fc-dayGrid-view .fc-body .fc-row{min-height:46px;height:auto !important}

#mini-events .fc-day-number{pointer-events:none;font-family:'Rubik',sans-serif;text-decoration:none}
#mini-events .fc-day-top.day-has-event{border-radius:10px;background:#005CA8}
#mini-events .fc-day-top.day-has-event a{pointer-events:all;color:#fff !important}
#mini-events .fc-dayGridMonth-view .fc-day-grid-event{display:none}
#mini-events .fc-today{position:relative}
#mini-events .fc-today:not(.fc-day-header):after{content:'';position:absolute;left: 50%;top: 50%;background:#03549f;border-radius:4px;z-index:-1;height:26px;width:26px;transform: translateX(-50%) translateY(-50%);}
#mini-events .fc-today .fc-day-number{color: #1B1B1B !important;}
#mini-events .fc-content-skeleton,
#mini-events .fc-content-skeleton>table,
#mini-events .fc-content-skeleton>table>thead,
#mini-events .fc-content-skeleton>table>thead>tr{height:100%}
#mini-events .fc-content-skeleton>table>thead td{vertical-align:middle}
#mini-events .fc-icon-chevron-right:before{content:'\f0da';font-family:'FontAwesome';position:relative;top:-2px}
#mini-events .fc-icon-chevron-left:before{content:'\f0d9';font-family:'FontAwesome';position:relative;top:-2px}

#mini-events{display:block}
#mini-events .fc-widget-header{font-size:0}
#mini-events .fc-widget-header.fc-sun:not(.fc-future):not(.fc-today):not(.fc-past) span:after{content:'Sun';font-size:16px;font-weight:700;font-family:'Rubik',sans-serif}
#mini-events .fc-widget-header.fc-mon:not(.fc-future):not(.fc-today):not(.fc-past) span:after{content:'Mon';font-size:16px;font-weight:700;font-family:'Rubik',sans-serif}
#mini-events .fc-widget-header.fc-tue:not(.fc-future):not(.fc-today):not(.fc-past) span:after{content:'Tue';font-size:16px;font-weight:700;font-family:'Rubik',sans-serif}
#mini-events .fc-widget-header.fc-wed:not(.fc-future):not(.fc-today):not(.fc-past) span:after{content:'Wed';font-size:16px;font-weight:700;font-family:'Rubik',sans-serif}
#mini-events .fc-widget-header.fc-thu:not(.fc-future):not(.fc-today):not(.fc-past) span:after{content:'Thi';font-size:16px;font-weight:700;font-family:'Rubik',sans-serif}
#mini-events .fc-widget-header.fc-fri:not(.fc-future):not(.fc-today):not(.fc-past) span:after{content:'Fri';font-size:16px;font-weight:700;font-family:'Rubik',sans-serif}
#mini-events .fc-widget-header.fc-sat:not(.fc-future):not(.fc-today):not(.fc-past) span:after{content:'Sat';font-size:16px;font-weight:700;font-family:'Rubik',sans-serif}
#mini-events .fc-widget-header.fc-future span,
#mini-events .fc-widget-header.fc-today span,
#mini-events .fc-widget-header.fc-past span{font-size:14px}

/* NEW */
#mini-events .fc-left .fc-button-group:nth-of-type(1){position:absolute;right: 35px;top: 35px;display:flex;justify-content:space-between;left: 35px;}


#mini-events .fc-left .fc-button-group:nth-of-type(1) button{flex-grow:0;position:relative;z-index:51;background:none !important;color:#000 !important;padding:0;line-height:1;border-radius:8px;line-height:30px;width:30px}


#mini-events .fc-left .fc-button-group:nth-of-type(2){position:absolute;right:0;top:0;opacity:0;margin-top:0;left:0}
#mini-events .fc-left .fc-button-group:nth-of-type(2) button{font-size:12px;border-radius:0}

#mini-events .fc-right{margin-top:6px}


#mini-events .fc-head-container{padding:0 16px}
#mini-events{display:flex;justify-content:space-between}
#mini-events .fc-header-toolbar{display:block;margin-bottom:17px}
#mini-events h2{font-size:16px;font-weight:700;font-family:'Rubik',sans-serif;color:#000}
#mini-events .calendar-wrap{display:flex;justify-content:space-between}
#mini-events *{border:0;text-align:center}
#mini-events .mini-calendar{margin-right:20px;width:580px;background:#fff;position:relative;padding:30px 15px 25px;max-width:100%;border-radius:8px}
#mini-events .mini-events-list{flex-grow:1}
#mini-events .mini-list-loaded{display:block!important;}
#mini-events .cal-content{display:flex;align-items:center;font-size: 18px;font-style: normal;font-weight: 700;line-height: 150%; /* 27px */text-transform: capitalize;width: 100%;}
#mini-events .cal-event{padding: 0;cursor:pointer;background: #fff;margin-bottom: 12px;border-radius: 6px;display: flex;align-items: center;height: 111px;}
/*#mini-events .cal-event:hover{background:#003159}
#mini-events .cal-event:hover time{background:#005CA8}
#mini-events .cal-event:hover .cal-event-name{color:#fff}*/
#mini-events .cal-event-name{font-size:18px;line-height:27px;color:#003159;font-weight:700}
#mini-events .cal-event time{display:block;height: 111px;width: 72px;background: #072750;text-align:center;margin-right: 24px;text-transform: capitalize;padding: 30px 0 0;border-radius: 6px 0 0 6px;color: #FFCA08;
/* Caption/Normal */font-size: 14px;font-style: normal;font-weight: 400;line-height: 150%; /* 21px */}
#mini-events .cal-event time span{display:block;color: #FFF;
/* h4/Bold */font-size: 24px;font-style: normal;font-weight: 700;line-height: 135%; /* 32.4px */text-transform: uppercase;}
#mini-events .cal-event:first-of-type{}
#mini-events .cal-event:last-of-type{}

@media only screen and (max-width:991px) {
	#mini-events .fc-left .fc-button-group:nth-of-type(1){top:10px;right:10px;left:10px}
}
@media only screen and (max-width:767px) {
	#mini-events{display:block}
	#mini-events .mini-calendar{margin:0 0 50px}
}

@media only screen and (max-width:479px) {
	
}